body {
  background-color: black;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif; /* Apply the custom font */
}

.to-do-list-container {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin: 0 auto;
  max-width: 600px;
  padding: 20px;
}

.to-do-list-container h1 {
  border: 5px solid hsl(180, 100%, 70%);
  border-radius: 15px;
  color: hsl(60, 100%, 90%);
  font-size: 4rem;
  padding: 20px;
  margin: 20px auto;
  background-color: hsl(0, 0%, 20%);
}

button {
  font-size: 1.7rem;
  font-weight: bold;
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
  background-color: transparent; /* Remove background color */
}

.add-btn {
  margin-left: 10px;
  color: hsl(0, 0%, 20%);
  background-color: hsl(120, 60%, 60%);
}

.add-btn:hover {
  color: hsl(0, 0%, 10%);
  background-color: hsl(120, 60%, 50%);
  transform: scale(1.05);
}

.delete-btn {
  color: hsl(0, 90%, 60%);
}

.delete-btn:hover {
  color: hsl(0, 90%, 40%);
  transform: scale(1.05);
}

.up-btn, .down-btn {
  color: hsl(240, 60%, 80%);
}

.up-btn:hover, .down-btn:hover {
  color: hsl(240, 60%, 60%);
  transform: scale(1.05);
}

input[type='text'] {
  font-size: 1.6rem;
  padding: 8px 12px;
  border: 2px solid hsl(0, 0%, 70%);
  border-radius: 5px;
  color: hsl(0, 0%, 20%);
  background-color: hsl(0, 0%, 90%);
}

ol {
  padding: 0;
  list-style-type: none;
}

li {
  font-size: 1.8rem;
  font-weight: bold;
  border: 2px solid hsl(0, 0%, 70%);
  border-radius: 8px;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: hsl(0, 0%, 98%);
  margin: 8px 0;
  box-sizing: border-box;
  word-wrap: break-word;
}

.task-details {
  /* border: 1px solid hsl(180, 100%, 70%); */
  border-radius: 5px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
}

.text {
  font-size: 1.8rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.timestamp {
  font-size: 1.4rem;
  color: hsl(0, 0%, 60%);
  margin-top: 4px;
}

button:not(:last-child) {
  margin-right: 8px; /* Add a gap between buttons */
}
